# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
__pycache__/
*.pyc

# Build
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
infra/aws-bigbang/lambda/*.zip
